@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}
@font-face{
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}
@font-face{
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}
@font-face{
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
body{
    font-family:"Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #FFFFFF;
    color: #000000;
    margin:0;
}
.page-body{
    min-height:100%;
    min-width:1160px;
    display:grid;
    grid-template-rows:min-content 1fr min-content;
    align-content:start
}
.no-list-style{
    list-style: none;
}

.page-header{
    background-color: #FFE17F;
    background-size: 1160px 300px;
}
a{
    color:inherit;
    text-decoration: none;
}
p{
    margin-block:0;
}
ul{
    padding-inline-start: 0;
}
.footer-links{
    color:#fff;
    letter-spacing: 0.2em;
    }
.navigation-item{
    font-style: "Raleway";
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}
.head-catalog{
    display: flex;
}
.catalog-nav{
    width:50%;
}
.text-left{
    text-align:left;
}
.navigation-item-small{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration:none;
    text-transform: uppercase;
    color: #000000;

   }
.cart{
justify-self: flex-end;


}
.navigation-contacts{
    text-align:right;
}
.item-head{
    font-family: "Raleway";
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    margin-top: 120px;
    margin-bottom: 19px;
}
.description{
    margin-bottom: 30px;
}
.item-tagline{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    margin:40px auto
}
.details{
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-align:center;
    background-color: #FFE17F;
    text-decoration:none;
    letter-spacing: 0.2em;
    text-transform: uppercase;

}
.list-range{
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    color: #000000;

}
.goods-title{
    font-family: "Raleway";
    font-weight: 800;
    line-height: 24px;
    text-decoration:none;
    margin:0;
}
.rare-goods{
    font-family: "Raleway";
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align:center;
    text-transform: uppercase;
    text-decoration:none;

}
.rare-goods-wrapper{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 100px;
    grid-column-gap: 50px;
    letter-spacing: 00.2em;
    background-color: #F0F0F0;
}
 .delivery-item{ 

    font-weight: 700; 
    line-height: 20px;
    color: #000000;
    
}
.contacts-subtitle{

    font-weight: 700; 
    font-size: 24px;
    line-height: 30px;
    color: #444444;

}
.field{
    color:#444444;
}
.contacts-phone{
    color:#fff;
    margin-top: 13px;
    margin-bottom: 13px;
}

address{
    text-decoration:none;
}
.page-footer{
    background-color: #444444;
    color:#fff;
    font-size: 16px;
    line-height: 19px;
    padding-top:62px;
}

.about-text{
    font-weight: 400;
    text-decoration:none;
    padding:0;
}

.contacts-phone{
    text-decoration:none;
    text-align: right;
}
.filter-head{
    font-style: "Raleway";
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color:#000000;
    padding:25px 0 25px 72px;
    margin:0;
    letter-spacing:.1em;
    text-transform:uppercase
}


ul.goods-sorting{
    padding:0;
    margin-left:74px
}
.goods-sorting{
    font-size:16px;
    line-height:19px;
    align-self: center;
}

.goods-sorting-link{
font-weight:400;
font-size:14px;
line-height:19px;
}
.filter-wrapper{
    position:relative;
}
.goods-sorting-value{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
    width:52px;
    margin:0 0 0 219px;
    padding:0;
    list-style:none;
    position:relative
    }
.filter-container{
    height:70px;
}
.catalog-title{

    padding-top:25px;
    margin:0;
}

.catalog-filter-title{

    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;

}
.catalog-wrapper{
    display: flex;
    width:100%;
}

.catalog-filter-group{
    display:block;
    margin:0;
    padding:0;
    border:0
}
.filter-price{
    margin-bottom:54px
}
.catalog-filter-title{
    margin:0;
    font-style:normal;
    font-weight:700;
    font-size:18px;
    line-height:20px;
    font-family:"Rubik";
    letter-spacing:-0.02em 
}
.price-container{
    width:200px;
    margin-top:19px
}
.inner-header{
    background-color: white;
    margin-left: 200px;
}
.control-color, .control-label{
    font-size: 16px;
    line-height: 19px;
    color:#000000;
}
.sorting-table{
    display:flex;
    background-color:#E5E5E5;
}
h3{
    line-height: 24px;
    font-weight: 700;
}
.product-card-price{
    font-weight:400;
    line-height: 22px;
    color: #444444;
}
.product-image{
    background-color:#FFE17F;
    background-size: 160px 160px;
    margin-bottom:33px;
}
.show-more{ 
    font-family: "Raleway";
    text-transform: uppercase;
    width: 760px;
    height: 55px;
    border: 3px solid #EBEBEB;
    background-color: #fff;
    margin-left:72px;
    margin-bottom:51px;
    padding:0;

}
.pagination-container{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    min-height:70px;
    margin-top:31px;
    margin-left:72px;
    margin-bottom:77px;
    font-weight:800;
    font-size:16px;
    line-height:20px;
    background-color: #EBEBEB;
    display: flex;

    width:760px;
    letter-spacing: 00.2em;
}
.pagination-link{
    padding-right:15px;
    padding-left:15px;
    opacity:.3
    
}
.pagination-container .pagination-link{
    font-weight:400;
    letter-spacing: normal;
}
.pagination-button{
    display:flex;
    justify-content:center;
    align-items:center;
    align-self:stretch;
    min-width:120px
}
.previous-button{
    margin-right:auto;

}
.forward-button{
    margin-left:auto;    
}


.our-services{
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color:#fff;
    display:flex;
    justify-content:space-between;
    width:425px;
    margin-top:13px
}


.logo{
    margin-top: 17px;
}
.nav-container{
    margin:0 auto;
    width: 1041px;;
}
.upper-nav{
    display:flex;
    padding:0;
    justify-content: space-between;
}
.navigation-link{
    line-height: 19px;
}


.nav-search{
    width: 480px;
    border:0px solid;
    background-color:inherit;
    
    padding:0;
}
.navigation-list-small{
    width:50%;
    display:flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

.compare-basket-container{
    display:flex;
    justify-content:space-between;
    width:216px;
}
.container{
    width: 1160px;
    margin:0 auto; 
}
.icon-auth{
    margin-right:12px;
}
.icon-compare{
    margin-right:10px;
}
.icon-cart{
    margin-right:10px;
}

.slider-section{
    display: grid; 
    grid-template-columns: 560px 560px; 
    grid-template-rows: 560px; 
    gap: 0px 40px; 
    grid-template-areas: 
      "slider-image defenition-to-slider"; 
}
.defenition-to-slider {
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-area: defenition-to-slider; 
  }
.details-button-wrapper{
    display:flex;
    justify-content: space-between;
}
.slider-details{
    width:220px;
}
.ttc-table-wrapper{
    display: grid;
    grid-template-columns: 160px 160px 1fr;
}
.definition{
    font-size: 16px;
}
.block-preview{
    display:flex;
}
.nav-list{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:flex-end;
    padding:0;
    list-style:none
    }
.nav-list-item{

    font-weight:800;
    font-size:18px;
    line-height:21px;
    font-family:"Raleway";
    text-transform:uppercase;
    letter-spacing: 0.2em;

}
.catalog-item{
    align-self: center;

}
.nav-contacts{
    margin-left:61px;
}
.right-container{
    width: 50%
}
    
.goods-icons{
    display: flex;
    padding:0;
    justify-content: space-between;
}
.goods-items{
    margin-right:40px;
    
}
.product-image{
    background-color: #FFE17F;
    width: 160px;
    height: 160px;
}
.services-wrapper{
    height:403px;
    background-color: #F0F0F0;
    margin-bottom: 159px;
}
.advantages-block{ 
    display:grid;
    grid-gap:90px;
    padding:0;
    margin-top:69px;
    grid-template-columns:280px 760px

    
}
.services{ 
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:0;
    height:164px;
    margin:95px 0 0  
}
.tab-button{
    position:relative;
    width:160px;
    background-color:transparent;
    border:0
    
}
.tabcontent{
    padding:75px 190px 0 30px;
    margin:0 0 25px;   
}
.delivery-head{
    margin-top:0;
}
.contact-us{
    display: flex;
    justify-content: space-between;

    
}
.about-block{
    
    width:560px;
    margin-right:40px;
}
.contact-block{
    
    width:560px;
    
}
.contacts-schedule{
    margin:0;
    padding: 0;
}


.subscribe{
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
    background-color: #f0f0f0;
    padding-top:75px;
}
.subscribe-definition{
    display:flex;
    justify-content: space-between;
    margin-bottom: 40px;
}


.subscribe-head{
    margin:0;
    width:560px;
}
.subscribe-text{
    width:560px;
    margin:0;

}


.subscribe-block{
    display: flex;
    justify-content: space-between;
}
.subscribe-form{
    display: flex;
    justify-content: space-between;
    margin:0;
    width: 560px;
}
.subscribe-button-block{
    display: flex;
    justify-content: space-between;
    
    width: 560px;
}
.subscribe-button{
    width: 260px;
    height:55px;
    font-family: "Raleway";
    font-size: 18px;
    border-color: #DCDCDC;
    border-width:3px;
    
}
.page-footer{

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin:0 auto;
    background-color: #444444;
    width:100%;
}
.logo-container{
    display: block;
}


.footer-mid-block{
    display: flex;
    padding-top:25px;
    max-width:100%
}
.footer-social-list{
    display: flex;
}
.our-services{
    display:flex;
    width:440px;
    padding-left:0;

}
.contacts-phone{
    
    margin-left:auto;
}
.footer-right-block{
    width: 560px;
    display:flex;
    flex-direction: column;
    
}
.footer-contacts-address{
    width:360px;
}
.footer-bot-block{
    display: flex;
    margin-bottom: 32px;
    justify-content: flex-end;
}
.footer-social-list{
    justify-self: center;
    order:1;
}
.catalog-form-header-wrapper{
    display:flex;
    justify-content:flex-end;
}
.catalog-products{
    display: flex;

}

.filter-container-wrapper{
    display:flex;
    justify-content:flex-end;
    background-color:#DCDCDC;
    padding-right: 80px;
}
.catalog-filter-wrapper{
    display:flex;
    justify-content:flex-end;
    background-color:#EBEBEB;
    height:100%
}
.checkbox-wrapper{
    position:relative;
    min-width:200px;
    padding-top:86px;
    padding-right:10px;
    padding-left:60px
}
.filter-column{
    flex-grow:1;

}
.right-column{
    width: 972px;

    flex-grow:1;
}
.left-top-sorting{
    display:flex;
}

.page-title{
    margin-top:44px;
    margin-bottom:30px
}
.breadcrumbs{
    display:flex;
    width:425px;
    justify-content:space-between;
    list-style:none

}
.breadcrumbs li{
    font-weight:400;
    font-size: 16px;
    line-height: 19px;
    opacity: 60%;
    text-transform: none;
    padding-left: 0;
}
.product-list{
    display:grid;
    gap:40px;
    padding:0;
    margin:0;
    margin-top:69px;
    margin-bottom:44px;
    margin-left:72px;
    grid-template-columns:360px 360px;
}
.product-card{
    display:grid;
    grid-template-columns:auto;
    grid-template-rows: auto 50px;
    gap:32px;
    grid-template-areas: "img img"
    "title price";
}
.product-card-link-image{
    grid-area: img;
}
.product-card-link-title{
    grid-area:title;
}
.product-card-price{
    grid-area:price;
}
.product-card-title{
    font-size: 18px;
    margin:0;
}
