@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}
@font-face{
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}
@font-face{
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}
@font-face{
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("/fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}
body{
    font-family:"Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #FFFFFF;
    color: #000000;
    margin:0;
}

.page-header{
    background-color: #FFE17F;
    background-size: 1160px 300px;
}
a{
    color:#000000;
    text-decoration: none;
}
.footer-links{
    color:#fff;
    }
.navigation-item{
    font-style: "Raleway";
    line-height: 22px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    
}
.text-left{
    text-align:left;
}
.navigation-item-small{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration:none;
    text-transform: uppercase;
    color: #000000;

   }
.navigation-contacts{
    text-align:right;
}
.item-head{
    font-family: "Raleway";
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;

}
.item-tagline{

    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #444444;

}
.details{
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-align:center;
    background-color: #FFE17F;
    text-decoration:none;
}
.list-range{

    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
    color: #000000;

}
.item-type-link{
    font-family: "Raleway";
    font-weight: 800;
    line-height: 24px;
    text-decoration:none;
}
.rare-goods{
    font-family: "Raleway";
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align:center;
    text-transform: uppercase;
    text-decoration:none;
}
 .delivery-item{ 

    font-weight: 700; 
    line-height: 20px;
    color: #000000;
    
}
.contacts-subtitle{

    font-weight: 700; 
    font-size: 24px;
    line-height: 30px;
    color: #444444;

}
.field{
    color:#444444;
}
.contacts-phone{
    color:#fff;
}

address{
    text-decoration:none;
}
.page-footer{
    background-color: #444444;
    color:#fff;
    font-size: 16px;
    line-height: 19px;
}

.about-text{
    font-weight: 400;
    text-decoration:none;
}

.contacts-phone{
    text-decoration:none;
    text-align: right;
}
.filter-head{
    font-style: "Raleway";
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color:#000000;
}
.catalog-filter-title{

    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;

}
.catalog-filter{
    background-color: #E5E5E5;
}
.inner-header{
    background-color: white;
}
.control-color, .control-label{
    font-size: 16px;
    line-height: 19px;
    color:#000000;
}
.sorting-table{
    background-color:#E5E5E5;
}
h3{
    line-height: 24px;
    font-weight: 700;
}
.product-card-price{
    font-weight:400;
    line-height: 22px;
    color: #444444;
}
.product-image{
    background-color:#FFE17F;
    background-size: 160px 160px;
}
.show-more{ 
    font-family: "Raleway";
    text-transform: uppercase;
    width: 760px;
    height: 55px;
    border: 3px solid #EBEBEB;
    background-color: #fff;

}
.pagination-container{
    background-color: #EBEBEB;
}
.pagination-link{
    color:#444444;
}
.our-services{
    font-family: "Raleway";
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color:#fff;
}

.navigation{

    margin:0 auto; /* не удается отцентровать, решил что в каждый крупный блок буду вставлять, так работает*/
}


.upper-nav{
    display:flex;
    flex-direction:row;
    padding:0;
    width: 1075px;
    justify-content: flex-start;
    margin: 0 auto;
    
}
#search-field{
    width: 480px;
    border:0px solid;
    background-color:inherit;
    margin-right: 24px;
}
.navigation-list-small{
    display:flex;
    justify-content: space-between;
    list-style: none;
    padding:0;
    
    
       
}
.page-container{
    margin:0 auto; /* не удается отцентровать*/
}
.icon-auth{
    margin-right:12px;
}
.icon-compare{
    margin-right:10px;
}
.icon-cart{
    margin-right:10px;
}
.navigation-list{
    display:flex;
    flex-direction:row;
    padding:0;
    width: 1041px;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
}
.slider-section{
    display:flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    padding:0;
    
    width:1161px;
}
.block-preview{
    display:flex;
}
.no-list-style{
    list-style: none;
}
.goods-icons{
    display: flex;
    width:1160px;
    padding:0;
    justify-content: space-between;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    margin: 0 auto;
}
.goods-items{
    margin-right:40px;
}
.advantages-block{ 
    
    width: 1160px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}
.services{ 
    margin:0;
    justify-self: flex-start;/* не удается выровнять*/
    width:360px;
    margin: right 40px;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}
.tab-button{
    width: 280px;
    justify-self: flex-start;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}
.tabcontent{
    margin-right: auto;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}
.contact-us{
    display: flex;
    justify-content: space-between;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    margin:0 auto;
    width:1160px;
    
}
.about-block{
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    width:560px;
    margin-right:40px;
}
.contact-block{
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    width:560px;
    
}
.contacts-schedule{
    margin:0;
    padding: 0;
}


.subscribe{
    display: flex;
    justify-content: space-between;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    margin:0 auto;
    width:1160px;
    flex-direction: column;
}
.subscribe-definition{
    display:flex;
    
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    margin:0 auto;
}

.subscribe-head{
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    width:560px;
    margin-right:40px;
}
.subscribe-text{
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    width:560px;
}


.subscribe-block{
    display: flex;
    justify-content: space-between;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    margin:0 auto;
    width:1160px;
}
.subscribe-form{
    display: flex;
    justify-content: space-between;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    margin:0;
    width: 560px;
}
.subscribe-button-block{
    display: flex;
    justify-content: space-between;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    width: 560px;
}
.page-footer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    margin:0 auto;
    width:1160px;
}

.footer-mid-block{
    display: flex;
}
.footer-social-list{
    display: flex;
}
.our-services{
    display:flex;
    width:440px;
}
.contacts-phone{
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    margin-left:auto;
}
.footer-right-block{
    width: 560px;
    display:flex;
    flex-direction: column;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
}
.footer-contacts-address{
width:360px;
}
.footer-bot-block{
    display: flex;
    outline: 5px solid rgba(255, 99, 78, 0.5);
    outline-offset: -5px;
    flex-direction: row-reverse;
}
.footer-social-list{
    justify-self: center;
    order:1;
}
.inner-header{
    margin:0 auto; 
    width: 1160px;
}
.catalog-products{
    display: flex;
    width: 1160px;
    margin:0 auto;
}
.filter-column{
    margin-right:72px;
    width: 328px;
}
.right-column{
    width: 760px;
}